   <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
           <nav>
               <% if signed_in? %>
               <%= link_to "#POST", root_path, id: "logo" %>
                 <ul class="nav pull-right" data-toggle="collapse" data-target=".nav-collapse">
                    <li><%= link_to "Brogramming", brogramming_path %></li>
                    <li><%= link_to "Fitness", fitness_path %></li>
                    <li><%= link_to "Users", users_path %></li>
                    <li id="fat-menu" class="dropdown">
                      <a href='#' class="dropdown-toggle" data-toggle="dropdown">Account</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to "Sign out", signout_path, method: "delete" %></li>
                     </ul>
                  </li>

                 </ul>
               <% else %>
                 <%= link_to "#WELCOME", root_path, id: "logo" %>
                   <ul class="nav pull-right">
                   <li><%= link_to "Sign in", signin_path %></li>
               <% end %>
               </ul>
            </nav>
         </div>
      </div>
   </header>
