   <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
            <%= link_to "richkuo.com", '#', id: "logo" %>
            <nav>
               <ul class="nav pull-right" data-toggle="collapse" data-target=".nav-collapse">
                  <li><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Brogramming",    brogramming_path %></li>
                  <li><%= link_to "Fitness",    fitness_path %></li>
                  <li><%= link_to "Sign Up",    signup_path %></li>
               </ul>
            </nav>
         </div>
      </div>
   </header>
