   <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
            <%= link_to "richkuo.com", '#', id: "logo" %>
            <nav>
               <ul class="nav pull-right" data-toggle="collapse" data-target=".nav-collapse">
                  <li><%= link_to "Home", '#' %></li>
                  <li><%= link_to "Brogramming",    '#' %></li>
                  <li><%= link_to "Fitness",    '#' %></li>
                  <li><%= link_to "About",    '#' %></li>
                  <li><%= link_to "Contact",    '#' %></li>
               </ul>
            </nav>
         </div>
      </div>
   </header>
